@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
